/*RESET  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit
}

ul, ol, li{
    list-style: none;

}

/* FIM DO RESET */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: #f6f5f8;
}
header {
    height: 200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    height: 80px;
    width: 80px;
    background-image: url('./maçã.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}
main {
    flex-grow: 1;
    display: flex;
}
.conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f5f8;
}
.conteudo h1{
    font-size: 96px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}
.conteudo p{
    font-size: 32px;
    width: 40%;
}
.conteudo button{
    height: 96px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 32px;
}
.conteudo .social{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.conteudo .social div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f6f5f8;
}
button {
    color: white;
    background: blue;
    transition: background 1s;
  }
  
  button:hover,
  button:focus {
    background: #aeaaa3;
  }
.destaque {
    width: 50%;
    background-image: url('./novoiphone.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}